.da-field-container.da-field-container-datatype-email {
  width: 100%;
  display: inline-block;
}

.da-form-label.datext-right {
  max-width: fit-content
}

.col-md-8.dafieldpart {
  display: inline-block;
  width: 59%;
}

.col.darlap {
  margin-left: 0;
  display: inline-block;
  width: fit-content;
}

.col.darlap p {
  margin-bottom: 0;
}